##------------------current app service config-------------------##
JVM="-Xmx128m -Xms128m -Xss1m -XX:NewRatio=3 -XX:PermSize=64m -XX:MaxPermSize=64m -verbosegc -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+PrintGCTimeStamps -XX:+PrintGCApplicationStoppedTime -XX:+UseCompressedOops -XX:+DisableExplicitGC -XX:+UseParallelGC -XX:+UseParallelOldGC -XX:ErrorFile=${LOGDIR}/jvm_error.log  -Xloggc:${LOGDIR}/jvm.log "
